/*******************************
	Top Navigation and Slider *
******************************/
.first-section{
	position: relative;
}

.first-navigation {
	border:2px solid #f1f1f1;
	background: transparent;
	border-top: none;
}

.align-logo {
	padding-left: 20px;
	margin-bottom: 10px;
}

.company-name {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 100;
	font-style: normal;
	color: #8d8d8d;
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
}

.align-menu {
	margin-top: 15px;
	margin-right: 20px;
}
ul.custom-buttons>li {
	border-radius: 5px;
	color: #b2b3b3;
}

ul.custom-buttons a {
	color: #abacac;
}
ul.custom-buttons>li:hover {
	background-color: #3498db;
	color: white;
}

ul.custom-buttons>a:hover {
	text-decoration: none;
}

.bx-viewport {
	left: 0 !important;
	border: 0 !important;
}

ul.bxslider {
	padding: 0;
}

.first-navigation {
	  position: absolute;
	  top: 0;
	  width: 100%;
	  z-index: 1;
	  background: rgba(255, 255, 255, 0.7);
}

.square {
	height: 84px;
	background-color: rgba(255, 255, 255, 0.8);
}

/*Aligning slider-buttons with position absolute for */

#left {
	float: left;
	position: absolute;
	top: 32%;
	margin-left: 25px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

#right {
	float: right;
	position: absolute;
	z-index: 2;
	top: 32%;
	right: 0;
	margin-right: 25px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

/*Custom caption for main slider*/
.caption1{
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:10;
    width: 100%;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

#logo-caption {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text-caption {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	font-style: italic;
	margin-left: 10px;
}

.button-caption {
	border: none;
	margin-left: 20px;
	background-color: #3498db;
}

.button-caption:hover {
	background-color: #e06ca0;
}

/**************************
	Main content section *
*************************/
.first {
	margin-top: 75px;
}

.ring{
	display: inline-block;
	text-align: left;
    width:90px;
    height:90px;
    border:1px solid black;
    border-radius: 50%;
}

/*Ring Colors*/
.red { border-color: #e78cb5;}
.purple { border-color: #b07cc5;}
.green { border-color: #75dda1;}

/*Aligning the icons in rings*/
.align-user {
	margin-left: 32%;
	margin-top: 28%;
}

.align-bulb {
	margin-left: 36%;
	margin-top: 32%;
}

.align-like {
	margin-left: 31%;
	margin-top: 28%;
}

.blueh3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #7eb7e5;
	font-size: 17px;
}

.greyh3bottom {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #838383;
	font-size: 14px;
}

.greyh3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #c0c0c0;
	font-size: 14px;
}

p.justify {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	color: #a3a3a3;
	font-size: 13px;
	font-weight: 300;
}

.panel-default>.panel-heading {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #969696;
	border:1px solid #e3e3e3;
	background-color: white;
	border-radius: 5px;
}

.panel-default>.panel-heading:active {
	background: #3498db;
}

div.main-acordion > div.panel{
	border: none;
}

.imageacordion {
	width: 100%;
	padding: 25px 0 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.panel-body {
	padding: 0;
	border-top: none !important;
}

.panel-body > p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #929292;
}

.main-acordion a {
	text-decoration: none;
}

.hoverpanel1:hover {
	border-color: #00aaa9;
	color: #00aaa9;
}
.hoverpanel2:hover {
	border-color: #e78cb5;
	color: #e78cb5;
}
.hoverpanel3:hover {
	border-color: #b07cc5;
	color: #b07cc5;
}
.hoverpanel4:hover {
	border-color: #0221a1;
	color: #0221a1;
}
.hoverpanel5:hover {
	border-color: #00ce31;
	color: #00ce31;
}
.hoverpanel6:hover {
	border-color: aquamarine;
}
.hoverpanel7:hover {
	border-color: hotpink;
}
.hoverpanel8:hover {
	border-color: #19af92;
}

.colapse-noborder {
	border-style: none;
}

/*Cards Customization*/
.card {
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	margin-bottom: 20px;
}

.imagecard {
	display: inline-block;
	float: left;
	margin-top: 16px;
	margin-left: 25px;
}

div.card > h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #2c2c2c;
	display: inline-block;
	margin: 0;
	margin-top: 35px;
	padding-left: 10px;
}

div.card > h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #3498db;
	display: inline-block;
	margin: 0;
	padding-left: 10px;
}

div.card > p {
	color: #888888;
}

div.card > p {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	padding: 15px;
	text-align: justify;
	margin-top: 25px;

}

hr.morespace {
	margin-top: 40px;
	margin-bottom: 40px;
}

div.news > p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: justify;
	color: #888888;
}

div.news > h3.secondary {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #414141;
}

div.news > h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #525252;
}

.main-acordion {
	margin-top: 40px;
}

.text {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
	text-align: justify;
	color: #888888;
}

.contactinfo {
	list-style: none;
	padding: 0;
}

ul.contactinfo > li {
	padding-bottom: 10px;
}

ul.contactinfo > li > a {
	text-decoration: none;
}

.circle {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-color: #e5e5e5;
    border-radius: 100%;
}

.circle:hover {
	background-color: #3498db;
}


div.circle img {
	margin-top: 8px;
	margin-left: 8px;
}

/*************************
	Bottom Section      *
***********************/
div.bottom-first > hr {
	background-color: white;
	height: 5px;
}

.bottom-first {
	background-color: #ebebeb;
}

.adress {
	list-style: none;
	padding: 0;
}

.phone {
	list-style: none;
	padding: 0;
}

ul.phone li > a {
	text-decoration: none;
}

ul.adress li > a {
	text-decoration: none;
}

.bottom-space {
	margin-bottom: 40px;
}

/*Social icons in the bottom of the page*/
@font-face {
    font-family: 'si';
    src: url('../fonts/socialicons/socicon/socicon.eot');
    src: url('../fonts/socialicons/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialicons/socicon/socicon.woff') format('woff'),
         url('../fonts/socialicons/socicon/socicon.ttf') format('truetype'),
         url('../fonts/socialicons/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url('../fonts/socialicons/socicon/socicon.svg') format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    padding-top: 10px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 4px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-vimeo {
    background-color: #51b5e7;
}
.soc-vimeo:before {
    content:'s';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest:before {
    content:'d';
}
.custom-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.right-one {
	list-style: none;
	padding: 0;
}

ul.right-one > li {
	padding-bottom: 30px;
}

.blue-arrow {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 5px;
	padding-right: 2px;
}

.subtext {

	margin-left: 15px;
	font-size: 11px;
	margin-top: 10px;
}

.lower-name {
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
	font-weight: 100;
	font-style: normal;
	color: #8d8d8d;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.lower-logo {
	display: inline-block;
}

.last-text {
	padding-top: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #5f5f5f;
}

.lightgray {
	font-family: 'Roboto', sans-serif;
	color: #5f5f5f;
	font-weight: 300;
}

.bottom-copyright {
	background-color: #f5f5f5 ;
	color: #8c8b8b;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

div.bottom-copyright span {
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
}

div.bottom-copyright img {
	padding: 10px;
}





