/*Top navigation section*/
.first-navigation {
	border:2px solid #f1f1f1;
}

div.first-navigation img {
	padding: 10px;
	padding-right: 0;
}

div.first-navigation h3 {
	display: inline-block;
	margin-top: 15px;
}